{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <h1>Использованные технологии</h1>
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Python 3.7
            </li>
            <li class="list-group-item">
              Django 2.2
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>Python — высокоуровневый язык программирования общего назначения
              с динамической строгой типизацией и автоматическим управлением
              памятью, ориентированный на повышение производительности
              разработчика, читаемости кода и его качества, а также на
              обеспечение переносимости написанных на нём программ.</p>
          <p>Django — свободный фреймворк для веб-приложений на языке Python</p>
        </article>
    </div>
  </div>
{% endblock %}